name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B clean package --file pom.xml

      - name: Upload core artifact
        uses: actions/upload-artifact@v4
        with:
          name: suprim-core
          path: core/target/*.jar

      - name: Upload processor artifact
        uses: actions/upload-artifact@v4
        with:
          name: suprim-processor
          path: processor/target/*.jar

      - name: Upload jdbc artifact
        uses: actions/upload-artifact@v4
        with:
          name: suprim-jdbc
          path: jdbc/target/*.jar
